body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #262626;
  background-color: #EDEFF1;
  /* font-family: VAG Rounded; */
}

@font-face {
  font-family: 'VAG Rounded';
  src: local('VAG Rounded') url(./fonts/vaglight.ttf) format('truetype');
}

/* * input[type="checkbox"]:checked{
  color: #FF4301;
} */


/* **************NAVBAR************** */

.navbar{
  background-color: white;
  height: 35px;
}

.navbar-logo{
  float: left;
  height: 33px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 10px;
}

.dropdown {
  float: left;
  margin-left: 5px;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 18px;  
  border: none;
  outline: none;
  padding: 7.25px 16px;
  background-color: inherit;
  margin: 0;
  color: #262626
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /* min-width is for the width of the drop-downs */
  min-width: 150px;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 16px;
}

.dropdown-content a {
  float: none;
  color: #262626;
  padding: 8px 8px;
  text-decoration: none;
  display: flex;
  justify-content: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-content a.active {
  background-color: #FF4301;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-img{
  height: 38px;
  width: 38px;
  border-radius: 50%;
  margin-right: 5px;
}

.dropdown-channel{
  margin-top: 10px;
  margin-left: 4px;
}

.navbar-left{
  padding: 7.25px 16px;
  font-size: 18px;
  display: inline-block;
  text-decoration: none;
  color: #262626;
}

.navbar-left a:visited{
  color: #262626;
}

.navbar-left a:link {
  color: #262626;
}

.navbar-right{
  float: right;
  display: flex;
}

.navbar-right a{
  padding: 7.25px 16px;
  font-size: 18px;
  display: inline-block;
  text-decoration: none;
  color: #262626;
}

.navbar-right a:visited{
  color: #262626;
}

.navbar-right a:link {
  color: #262626;
}

.errors {
  color: #FF4301;
  font-weight: bold;
}

/* **************FOOTER************** */

.footer{
  height: 40px;
  width: 100vw;
  margin-left: -13px;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.footer a{
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  text-decoration: none;
}

.footer a:visited{
  color: #262626;
}

.footer a:link {
  color: #262626;
}

.footer-logo{
  height: 30px;
  padding-top: 5px;
}

/* **************CHANNEL CONTAINER************** */

.channel-banner{
  height: 100px;
  background-color: white;
  margin: 5px 30px;
  border: solid .25px #dedede;
  border-radius: 3px;
}

.channel-info{
  display: flex;
  justify-content: left;
}

.channel-banner-img{
  height: 80px;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 10px;
}

.channel-info h1 {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 45px;
  font-weight: bold;
}

.channel-banner p{
  font-size: 15px;
  margin-left: 112px;
  margin-top: -26px;
  font-weight: 600;
  color: #7C7C7C;
}

.searchbar{
  margin-top: 15px;
  height: 40px;
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  background-color: white;
  justify-content: center;
  border: solid .25px #dedede;
  border-radius: 3px;
}

.searchbar h4{
  padding: 0;
  margin: 0;
  margin-left: 20px;
  margin-top: 12px;
}

.searchbar input{
  margin-top: 3px;
  margin-left: 15px;
  width: 45vw;
  height: 28px;
}

/* **************POSTCARD************** */

.post-card{
  border: solid .25px #dedede; 
  margin: 20px auto;
  width: 50vw;
  height: auto;
  border-radius: 3px;
  background-color: white;
}

.post-card:hover{
  border: solid .25px black
}

.post-image{
  width: 49vw;
  margin: 5px;
}

.post-author{
  padding: 0;
  margin: 0;
  margin-left: 5px;
  margin-top: 8px;
  font-size: 12px;
  font-weight: 550;
  color: #7C7C7C;
}

.post-title{
  padding: 0;
  margin: 0;
  margin-top: 3px;
  margin-left: 5px; 
}

.post-content{
  padding: 0;
  margin: 0;
  margin-top: 3px;
  margin-left: 5px; 
  font-size: 13px;
}

.bottom-post-card {
  display: inline-block;
  margin-bottom: 6px;
  width: inherit;
}

.post-likes-count{
  padding: 6px;
  /* margin-bottom: 5px; */
}

.post-likes-count:hover{
  background-color: #ddd;
}

.post-comments-count{
  padding: 6px;
}

.post-comments-count:hover{
  background-color: #ddd;
}

.pc-delete-button{
  display: block;
  float: right;
  margin: 0;
  margin-right: 14px;
  font-weight: 525;
  text-decoration: none;
  color: #F9F9FA;
  background-color: rgb(152, 152, 152);
  border: none;
  border-radius: 3px;
}

.pc-delete-button:hover{
  background-color: #FF4301;
}

/* **************POST DETAILS CONTAINER************** */

.post-details{
  border: solid .25px #dedede; 
  border-radius: 3px;
  background-color: white;
  margin: 10px auto;
  width: 70vw;
}

.post-details:hover{
  border: solid .25px black
}

.pd-channel-info{
  display: flex;
  padding: 10px 5px;
}

.pd-channel-info img{
  height: 30px;
  border-radius: 50%;
}

.pd-channel-info h4{
  margin: 0;
  margin-left: 5px;
  margin-top: 6px;
}

.pd-channel-info p{
  font-size: 12px;
  margin: 0;
  font-weight: 550;
  color: #7C7C7C;
  margin-top: 8px;
  margin-left: 3px;
}

.pd-info{
  padding: 0px 10px;
}

.pd-info h2{
  margin: 0;
}

.pd-info p{
  margin-top: 5px;
  font-size: 14px;
}

.pd-info img{
  display: block;
  width: 68vw;
  margin: 10px auto;
}

.comment-form{
  border: solid .25px #dedede; 
  border-radius: 3px;
  background-color: white;
  margin: 10px auto;
  width: 70vw;
  padding-top: 5px;
  
}

.comment-form:hover{
  border: solid .25px black
}

.comment-area{
  display: block;
  margin: 5px auto;
  width: 65vw;
  font-family: inherit;
  margin-bottom: 8px;
}

.comment-form label{
  margin: 5px 5px;
}

.comment-form-bottom{
  padding: 5px;
  background-color: #F6F7F8;
}

.comment-form-bottom label{
  display: inline-block;
  font-size: 13px;
}
.comment-form-bottom input{
  margin: 0px;
  vertical-align: middle;
}

.comment-form-bottom button{
  display: block;
  float: right;
  font-weight: 525;
  margin-top: 3px;
  margin-right: 3px;
  text-decoration: none;
  color: #F9F9FA;
  background-color: rgb(152, 152, 152);
  padding: 3px 5px;
  border: none;
  border-radius: 3px;
}

.comment-form-bottom button:hover{
  background-color: #FF4301;
}

.comment-list{
  border: solid .25px #dedede; 
  border-radius: 3px;
  background-color: white;
  margin: 10px auto;
  width: 70vw;
  padding: 5px;
}

.comment-list:hover{
  border: solid .25px black;
}

.cl-banner{
  display: flex;
}

.comment-list h2{
  margin: 0;
  margin-top: -3.6px;
  margin-left: 3px;
  padding: 0;
}

.comment-logo{
  height: 24px;
}

.comment-card{
  padding: 10px;
}

.cc-border{
  border-left: solid 1px #7C7C7C;
  padding: 5px
}

.cc-author{
  margin: 0;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 3px;
  font-size: 12px;
  font-weight: 550;
  color: #7C7C7C;

}

.cc-comment{
  margin: 0;
  padding: 0px 5px 0px 5px;
  margin-left: 3px;
}

.cc-buttons{
  margin-top: 5px;
}

.cc-buttons form{
  width: inherit;
}

.cc-buttons button{
  font-weight: 525;
  margin-top: 3px;
  margin-right: 3px;
  text-decoration: none;
  color: #F9F9FA;
  background-color: rgb(152, 152, 152);
  padding: 3px 5px;
  border: none;
  border-radius: 3px;
}

.cc-buttons button:hover{
  background-color: #FF4301;
}

/* **************NEW POST FORM************** */
.new-post{
  border: solid .25px #dedede; 
  border-radius: 3px;
  background-color: white;
  margin: 10px auto;
  width: 50vw;
  padding: 30px;
  text-align: center;
}

.np-image{
  width: 48vw;
}

.new-post:hover{
  border: solid .25px black;
}

.post-form{
  padding-top: 20px;
}

.post-form label{
  font-weight: bold;
}

.post-form select{
  margin-left: 8px;
}

.post-form input{
  margin-left: 8px;
  vertical-align: middle;
}

.post-form textarea{
  margin-top: 5px;
  width: 30vw;
}

.post-form button{
  margin-top: 3px;
  margin-right: 3px;
  font-weight: 525;
  text-decoration: none;
  color: #F9F9FA;
  background-color: rgb(152, 152, 152);
  padding: 6px 10px;
  border: none;
  border-radius: 3px;
}

.post-form button:hover{
  background-color: #FF4301;
}

.pf-input input:checked{
  background-color: #FF4301;
}


/* **************PROFILE CONTAINER************** */
.users-post-card{
  padding-top: 10px;
  
}

.up-stats{
  margin: 0 auto;
  margin-bottom: -60px;
  padding: 0;
  width: 50vw;
}

.up-stats p{
  margin: 0;
  margin-right: 5px;
  padding: 0;
  font-size: 12px;
  font-weight: 550;
  text-align: right;
  color: #FF4301;
}
